<% provide(:title, 'About') %>


<div class="static-page-block">

  <h1>what is squawker?</h1>

  <h2>disruptive innovation</h2>
  <p>
    I built <span class="squawker">squawker</span> to address one of the internet's most pressing needs:
    <span id="capslock">
      more shouting.
    </span>
    That's why <span class="squawker">squawker</span> is the world's first <em>all-caps-lock</em> social network.</p>

    <p>Every post on <span class="squawker">squawker</span> is automatically upcased by the magic Rails trolls (more on that below) that power the site.</p>

    <p>So celebrate yourself. Sound your barbaric yawp over the roofs of the world. Or, just shout at people.</p>

    <p>You're welcome, internet.</p>


  <h2>a technology showcase</h2>
  <p>
    <span class="squawker">squawker</span> runs on <a href="http://rubyonrails.org/">Rails 4</a>. Its styling is courtesy of <a href="http://getbootstrap.com/">Twitter Bootstrap</a>, with customized CSS implemented in <a href="http://sass-lang.com/">SASS</a> and some <a href="http://jquery.com/">jQuery</a> magic mixed in for good measure.
  </p>

  <p>
    Its test suite is implemented in <a href="http://rspec.info/">RSpec</a> and automated with the <a href="http://rubygems.org/gems/guard-rails">guard-rails</a> gem. I used <a href="http://jnicklas.github.io/capybara/">Capybara</a> to simulate user interaction and <a href="http://rubygems.org/gems/fake_friends">FakeFriends</a> and <a href="http://github.com/thoughtbot/factory_girl_rails">Factory Girl</a> to automate the creation of test profiles.
  </p>

  <p><span class="squawker">squawker</span> uses a <a href="http://www.postgresql.org/">PostgreSQL</a> database and is deployed to <a href="http://www.heroku.com">heroku</a>. The source is available <a href="http://github.com/jmromer/Squawker">on Github</a>.</p>

</div>


