- provide(:title, 'About')

.static-page-block
  :markdown

    # what is squawker?

    ## disruptive innovation

    I built squawker to address one of the internet's most pressing needs:

    <span id="capslock">MORE SHOUTING.</span>

    That's why squawker is the world's first *all-caps-lock* social network.

    Every post on squawker is automatically upcased by the magic Rails trolls
    (more on that below) that power the site.

    So celebrate yourself. Sound your barbaric yawp over the roofs of the world.
    Or, just shout at people.

    You're welcome, internet.


    ## a technology showcase

    Squawker runs on [Rails 4][rails]. It's styled with [Bootstrap][bootstrap],
    customized in [Haml][haml] and [Sass (SCSS)][scss] with hints of
    [jQuery][jquery].

    Its test suite is implemented in [RSpec][rspec] and uses Capybara to
    simulate user interaction, [Factory Girl][factory_girl] to automate the
    creation of test profiles, and [FakeFriends][fake_friends] to populate the
    site with generated user data.

    Squawker uses a [PostgreSQL][psql] database and is hosted on [heroku][]
    with [Unicorn][unicorn]. The [source code][source] is available on Github.

    [rails]: http://rubyonrails.org
    [haml]: http://haml.info
    [scss]: http://sass-lang.com
    [bootstrap]: http://getbootstrap.com
    [jquery]: http://jquery.com
    [rspec]: http://rspec.info
    [capybara]: http://github.com/jnicklas/capybara
    [factory_girl]: http://github.com/thoughtbot/factory_girl_rails
    [fake_friends]: http://rubygems.org/gems/fake_friends
    [psql]: http://www.postgresql.org
    [heroku]: http://www.heroku.com
    [unicorn]: http://rubygems.org/gems/unicorn
    [source]: http://github.com/jkrmr/Squawker

