<% provide(:title, 'About') %>

<h1>About NewsFlash</h1>

<div class="static-page-block">
  <p>
    NewsFlash is the brainchild of Jake Romer: obsessive blog reader.
  </p>

  <p>
    Hey, that's me. Why am I using the third person?
  </p>

  <p>
    Like many a former Google Reader user, I'm stil lost in a
    wilderness of alternatives, most of them lacking in one small way or another
    that matters to me.
  </p>

  <p>
    NewsFlash is my attempt to find a home for my favorite RSS feeds.
    I hope you'll enjoy using it as much as I am.
  </p>
</div>
