- provide(:title, 'About')

.static-page-block
  :markdown

    # what is squawker?

    ## disruptive innovation

    I built squawker to address one of the internet's most pressing needs:

    <span id="capslock">MORE SHOUTING.</span>

    That's why squawker is the world's first *all-caps-lock* social network.

    Every post on squawker is automatically upcased by the magic trolls
    that power the site.

    So celebrate yourself. Sound your barbaric yawp over the roofs of the world.
    Shout at people.

    You're welcome, internet.
