<% provide(:title, 'About') %>

<h1>About NewsFlash</h1>

<div class="static-page-block">
  <p>
    NewsFlash is the brainchild of Jake Romer:
    web developer and compulsive blog reader.
  </p>

  <p>
    Hey, that's me. Why am I using the third person?
  </p>

  <p>
    Like many a former Google Reader user, I'm stil lost in a wilderness of
    alternatives, most of them lacking in some small but significant way that
    matters to me. NewsFlash is my attempt to give my favorite RSS feeds a
    home again.
  </p>

  <p>
    NewsFlash runs on Ruby on Rails.
  </p>
</div>
