
<% provide(:title, 'Contact') %>

<h1>Contact</h1>

<div class="static-page-block">
  <form action="#" method="#" accept-charset="utf-8">
    <p>
      <label for="name">Name: </label>
      <input type="text" name="" value="" id="name">
    </p>

    <p>
      <label for="email">Email address: </label>
      <input type="text" name="" value="" id="email">
    </p>

    <p>
      <label for="message">Message: </label>
      <textarea id="message" rows="6"></textarea>
    </p>

    <p><button>Send</button></p>
  </form>
</div>

