- if signed_in?
  .row
    %aside.span4
      %section= render "shared/user_info"
      %section= render "shared/stats"
      %section= render "shared/squawk_form"
    .span8
      %h3 recent activity
      %ul#js-squawk-list.squawks
      #js-back-to-top.back-to-top
        %a{onClick: "scrollManager.scrollToTop()"} back to top
- else
  .center.hero-unit
    %h1 squawker
    = link_to "SIGN UP",
      signup_path,
      class: "btn btn-large btn-primary offscreen"

:javascript
  let scrollManager = new ScrollManager({ window: window })
  let feedFetcher = new FeedFetcher({ endpoint: "/activity_feed/index" })

  feedFetcher.fetchInitialPages({ scrollManager: scrollManager })

  window.document.addEventListener("scroll", () => {
    if (!scrollManager.isAtBottom()) { return }
    feedFetcher.fetchNextPage()
  })
