/* line 10, /Users/romer/Developer/repos/Squawker/app/assets/stylesheets/_forms.scss */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  -moz-box-sizing: "border-box";
  -webkit-box-sizing: "border-box";
  box-sizing: "border-box";
}

/* line 16, /Users/romer/Developer/repos/Squawker/app/assets/stylesheets/_forms.scss */
input {
  height: auto !important;
}

/* line 19, /Users/romer/Developer/repos/Squawker/app/assets/stylesheets/_forms.scss */
#error_explanation {
  color: #f00;
}
/* line 21, /Users/romer/Developer/repos/Squawker/app/assets/stylesheets/_forms.scss */
#error_explanation ul {
  list-style: none;
  margin: 0 0 18px 0;
}

/* line 30, /Users/romer/Developer/repos/Squawker/app/assets/stylesheets/_forms.scss */
#follow_form {
  text-align: center;
  padding-top: 30px;
}

/* line 34, /Users/romer/Developer/repos/Squawker/app/assets/stylesheets/_forms.scss */
#forgot-password {
  float: right;
  font-size: small;
}

/* line 38, /Users/romer/Developer/repos/Squawker/app/assets/stylesheets/_forms.scss */
#session_remember_me {
  margin-top: -4px;
}

/* line 41, /Users/romer/Developer/repos/Squawker/app/assets/stylesheets/_forms.scss */
#edit-gravatar {
  width: 100px;
}
/* line 43, /Users/romer/Developer/repos/Squawker/app/assets/stylesheets/_forms.scss */
#edit-gravatar img {
  margin-bottom: 0px;
}
/* line 44, /Users/romer/Developer/repos/Squawker/app/assets/stylesheets/_forms.scss */
#edit-gravatar a {
  float: right;
}

/* line 46, /Users/romer/Developer/repos/Squawker/app/assets/stylesheets/_forms.scss */
.edit_user {
  float: right;
}

/* line 49, /Users/romer/Developer/repos/Squawker/app/assets/stylesheets/_forms.scss */
.center-form {
  margin: auto;
}

/* line 52, /Users/romer/Developer/repos/Squawker/app/assets/stylesheets/_forms.scss */
#submit-squawk {
  float: right;
}

/* line 55, /Users/romer/Developer/repos/Squawker/app/assets/stylesheets/_forms.scss */
.center-form {
  float: none;
  margin: auto;
  width: 300px;
}
