input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  -moz-box-sizing: "border-box";
  -webkit-box-sizing: "border-box";
  box-sizing: "border-box"; }

input {
  height: auto !important; }

#error_explanation {
  color: #f00; }
  #error_explanation ul {
    list-style: none;
    margin: 0 0 18px 0; }

#follow_form {
  text-align: center;
  padding-top: 30px; }

#forgot-password {
  float: right;
  font-size: small; }

#session_remember_me {
  margin-top: -4px; }

#edit-gravatar {
  width: 100px; }
  #edit-gravatar img {
    margin-bottom: 0px; }
  #edit-gravatar a {
    float: right; }

.edit_user {
  float: right; }

.center-form {
  margin: auto; }

#submit-squawk {
  float: right; }

.center-form {
  float: none;
  margin: auto;
  width: 300px; }
