/* line 6, /Users/romer/Developer/backups/demo_apps/Squawker/app/assets/stylesheets/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

/* line 9, /Users/romer/Developer/backups/demo_apps/Squawker/app/assets/stylesheets/_typography.scss */
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

/* line 15, /Users/romer/Developer/backups/demo_apps/Squawker/app/assets/stylesheets/_typography.scss */
h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999999;
}

/* line 23, /Users/romer/Developer/backups/demo_apps/Squawker/app/assets/stylesheets/_typography.scss */
p {
  font-size: 1.1em;
  line-height: 1.7em;
}
