/* line 6, /Users/romer/Developer/backups/demo_apps/Squawker/app/assets/stylesheets/_users_index.scss */
.users {
  list-style: none;
  margin: 0;
}
/* line 9, /Users/romer/Developer/backups/demo_apps/Squawker/app/assets/stylesheets/_users_index.scss */
.users li {
  display: inline-block;
  width: 240px;
  overflow: auto;
  padding: 10px 0;
  border-top: 1px solid #eeeeee;
}
/* line 15, /Users/romer/Developer/backups/demo_apps/Squawker/app/assets/stylesheets/_users_index.scss */
.users li:last-child {
  border-bottom: 1px solid #eeeeee;
}
/* line 18, /Users/romer/Developer/backups/demo_apps/Squawker/app/assets/stylesheets/_users_index.scss */
.users li img {
  display: block;
}
/* line 20, /Users/romer/Developer/backups/demo_apps/Squawker/app/assets/stylesheets/_users_index.scss */
.users li img.gravatar {
  width: 70px;
}
/* line 24, /Users/romer/Developer/backups/demo_apps/Squawker/app/assets/stylesheets/_users_index.scss */
.users li a {
  overflow: hidden;
}
/* line 26, /Users/romer/Developer/backups/demo_apps/Squawker/app/assets/stylesheets/_users_index.scss */
.users li a:hover {
  text-decoration: none;
}
/* line 28, /Users/romer/Developer/backups/demo_apps/Squawker/app/assets/stylesheets/_users_index.scss */
.users li a.delete-item {
  display: block;
  padding-top: 5px;
}
