- if squawks.any?
  - squawks.each do |squawk|
    %li.group{ id: squawk.id }
      - cache(squawk) do
        = render squawk
      = render partial: "shared/item_controls",
                locals: { squawk: squawk }
