- provide :title, "Squawkers"
%h1 Squawkers
#all-users
  .paginate
    = will_paginate @users, page_links: false
  %ul.users
    - cache(cache_key_for_collection(@users)) do
      = render @users
  .paginate
    = will_paginate @users, page_links: false
