<% provide :title, "Squawkers" %>
<h1>Squawkers</h1>

<div id="all-users">
  <div class="paginate">
    <%= will_paginate @users, page_links: false %>
  </div>

  <ul class="users">
    <%= render @users %>
  </ul>

  <div class="paginate">
    <%= will_paginate @users, page_links: false %>
  </div>
</div>