= form_for(@squawk, html: { id: "js-squawk-form" }, remote: true) do |f|
  = hidden_field_tag "authenticity_token", form_authenticity_token
  = react_component "SquawkBox"
  = render "shared/error_messages", object: f.object
