= form_for squawk,
           html: { id: "js-squawk-form", "data-type" => :html },
           remote: true  do |f|
  = hidden_field_tag "authenticity_token", form_authenticity_token
  = react_component "SquawkBox"
  #js-squawk-form-error.alert.alert-error.hide
