- user ||= current_user
.stats
  %a{:href => user_path(user)}
    %strong.stat
      = user.squawks.count
    squawks
  %a{:href => following_user_path(user)}
    %strong#following.stat
      = user.followed_users.count
    following
  %a{:href => followers_user_path(user)}
    %strong#followers.stat
      = user.followers.count
    followers
