<span class="sidebar-gravatar">
  <%= link_to gravatar_for(current_user, size: 40), current_user %>
</span>
<h1>
  <div class="sidebar-name">
    <%= current_user.name %>
  </div>
  <div class="sidebar-admin">
    <%= current_user.admin? ? "(Administrator)" : "" %>
  </div>
</h1>

<div class="sidebar-profile-link">
  <%= link_to "view my profile page", current_user %>
</div>