- if feed_items.any?
  - cache(cache_key_for_collection(feed_items)) do
    - feed_items.each do |feed_item|
      - cache(feed_item) do
        = render "shared/feed_item",
          feed_item: feed_item
