@import 'mixins';

// ------------------------------------
//  Header
// ------------------------------------
#logo {
  color: #fff;
  float: left;
  font-size: 1.7em;
  letter-spacing: -.5px;
  line-height: 52px;
  margin-right: 10px;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

nav {
  form {
    margin: 10px 35px;
  }

  input {
    border: 0;
    margin: 0;

    &[type='text'] {
      background-color: #131920;
      border: 1px solid #2f3d51;
      border-radius: 21px;
      color: #8899a6;
      font-size: 12px;
      margin: 0;
      padding: 5px 27px 6px 12px;
      transition: all .2s ease-in-out;
    }
  }

  .user-account {
    line-height: 25px;
  }

  .caret {
    vertical-align: middle;
  }

  .nav-avatar {
    border-radius: 25px;
    height: 35px;
    margin-left: 15px;
    width: 35px;
  }

  .signin-link {
    line-height: 26px;
  }
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle {
  background-color: rgba(17, 17, 17, 0.02);
}


// ------------------------------------
//  Footer
// ------------------------------------
footer {
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  padding-bottom: 70px;
  padding-top: 5px;
  width: 730px;

  a {
    color: $gray;

    &:hover {
      color: $grayDarker;
      text-decoration: none;
    }
  }

  small {
    float: right;
  }

  ul {
    float: left;
    list-style: none;
    margin-left: 0;

    li {
      float: left;
      margin-right: 10px;
    }
  }
}

.right-footer {
  float: right;

  a {
    margin: 0 5px;
    &:hover { text-decoration: none; }
    &:last-of-type { margin-right: 0; }
  }
}
