// ------------------------------------
//  Mixins, Variables, etc
// ------------------------------------
@import 'glyphicons';

$gray-medium-light: #eaeaea;
$gray-lighter: rgb(238, 238, 238);
$gray-light: rgb(153, 153, 153);
$blue: #049cdb;
$gray: rgb(85, 85, 85);
$gray-darker: rgb(34, 34, 34);
$pale-red: rgba(185, 9, 9, .63);
$pale-yellow: rgba(226, 175, 50, .88);
$pale-pink: rgba(232, 85, 85, .67);

@mixin box-size($bs) {
  box-sizing: $bs;
}
