@import 'mixins';

// ------------------------------------
//  Squawks
// ------------------------------------
.gravatar {
  border-radius: 5px;
  float: left;
  margin-bottom: 10px;
  margin-right: 10px;
}

aside {
  textarea {
    margin-bottom: 10px;
  }
}

.squawks {
  list-style: none !important;
  margin: 10px 0 0;

  li {
    border-top: 1px solid #e8e8e8;
    padding: 10px 0;
    overflow: hidden;
  }
}

.back-to-top {
  margin-top: 25px;
  text-align: center;
  a {
    cursor: pointer;
  }
}

.squawk-gravatar {
  display: block;
  float: left;
  padding-right: 8px;
  padding-top: 2px;
  width: 40px;
}

.squawk-content {
  display: block;
  margin-left: 45px;

  .text {
    display: block;
  }
}

.timestamp {
  color: $gray-light;
  font-size: 12px;
  text-align: right;
}

// ------------------------------------
//  Recommendations
// ------------------------------------
.recommendations-list {
  .timestamp {
    display: none;
  }
}
