@import 'mixins';

// ------------------------------------
//  Users Index
// ------------------------------------
.users {
  list-style: none;
  margin: 0;

  li {
    border-top: 1px solid $gray-lighter;
    display: inline-block;
    overflow: auto;
    padding: 10px 0;
    width: 240px;

    &:last-child {
      border-bottom: 1px solid $gray-lighter;
    }

    img {
      display: block;

      &.gravatar {
        width: 70px;
      }
    }

    a {
      overflow: hidden;
      &:hover { text-decoration: none; }
    }
  }
}
