@import "bootstrap";

/* mixins, variables, etc */
$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* universal */
html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  margin: auto;
}

.container {
  width: 730px;
}

.hero-unit {
  height: 450px;
  background: url(bird.jpg);
  h1 {
    font-size: 130px;
    text-align: center;
    color: white;
    margin-top: 110px;
  }
  h2 {
    color: $grayLight;
  }
}

.navbar {
  background-image: linear-gradient(to bottom, rgb(34, 34, 34), rgb(17, 17, 17));
  background-repeat: repeat-x;
  border-color: rgb(37, 37, 37);
}

.navbar-inner {
  width: 940px;
  margin: auto;
  .container {
    width: 730px !important;
    margin: auto;
    padding: 0px 30px 0px 50px;
  }
}

.row {
    width: 750px;
    margin: auto;
}

.span4 {
  width: 220px;
  margin-top: 15px;
}

.span8 {
  width: 470px;
  margin-left: 30px;
}

#edit-profile-form {
  margin: auto;
  width: 500px;

  .span4 {
    width: 100px;
  }

  .span8 {
    width: 350px;
    margin-left: 0px;
    padding-left: 0px;
  }
}

.offset3 {
  margin-left: 150px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
  height: 32px !important;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.show-gravatar {
  width: 100px;
}

#all-users {
  margin: auto;
  width: 760px;

  .pagination {
    text-align: center;
  }
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  letter-spacing: -0.5px;
  padding-top: 9px;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: right;
  }
  ul {
    float: left;
    list-style: none;
    margin-left: 0px;
    li {
      float: left;
      margin-right: 10px;
    }
  }
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

#follow_form {
  padding-top: 10px;
}

#forgot-password {
  float: right;
  font-size: small;
}

#session_remember_me {
  margin-top: -4px;
}

#edit-gravatar {
  width: 100px;
  float: left;

  img {
    margin-top: 10px;
  }

  a {
    float: right;
    margin-top: 5px;
  }
}

.edit_user {
  float: right;
}

.center-form {
  margin: auto;
}


/* Users index */
.users {
  list-style: none;
  margin: 0;

  li {
    display: inline-block;
    width: 250px;
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }

    img {
      display: block;
    }
    a {
      overflow: hidden;
    }
    a.delete-item {
      display: block;
      margin-top: 5px;
    }
  }
}

/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* clearfix */

.group:after {
  content: "";
  clear: both;
  display: table;
}


/* squawks */

.gravatar {
  float: left;
  margin-right: 10px;
  border-radius: 5px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 10px;
  }
}


.squawks {
  list-style: none !important;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.squawk-gravatar {
  display: block;
  float: left;
  width: 45px;
}

.squawk-content {
  display: block;
  margin-left: 45px;
  .text {
    display: block;
  }
}
.timestamp {
  color: $grayLight;
  text-align: right;
  font-size: 12px;
}

.trashcan {
  margin-top: -3px;
}

/* sidebar */
aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

/* contact form, about text */

.static-page-block {
  width: 500px;
  margin: auto;
  position: relative;
  text-align: justify;
  h2 {
    font-size: 24px;
    color: inherit;
  }
}