@import "bootstrap";

// ------------------------------------
//  Mixins, Variables, etc
// ------------------------------------

$grayMediumLight: #eaeaea;
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// ------------------------------------
//  Global Styling
// ------------------------------------

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  margin: auto;
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  width: 730px;
}

.hero-unit {
  height: 450px;
  margin-bottom: -45px;
  background: url(https://dl.dropboxusercontent.com/u/15940843/squawkbird.jpg);
  h1 {
    font-size: 150px;
    color: white;
    text-align: center;
    margin: 120px 0px 0px -45px !important;
    text-transform: lowercase;
  }
  h2 {
    letter-spacing: -1px;
    width: 200px;
    margin: 20px auto 20px auto;
    color: white; //$grayLight;
    display: none;
  }
  a {
    font-weight: 300;
    letter-spacing: normal;
  }
}

.navbar {
  background-image: linear-gradient(to bottom, rgb(34, 34, 34), rgb(17, 17, 17));
  background-repeat: repeat-x;
  border-color: rgb(37, 37, 37);
}

.navbar-inner {
  width: 940px;
  margin: auto;
  .container {
    width: 730px !important;
    margin: auto;
    padding: 0px 30px 0px 50px;
  }
}

.row {
    width: 750px;
    margin: auto;
}

.span4 {
  width: 220px;
  margin-top: 15px;
}

.span8 {
  width: 470px;
  margin-left: 30px;
}

#edit-profile-form {
  margin: auto;
  width: 500px;
  .span4 {
    width: 100px;
  }
  .span8 {
    width: 350px;
    margin-left: 0px;
    padding-left: 0px;
  }
}

.offset3 {
  margin-left: 150px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
  height: 32px !important;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

#all-users {
  margin: auto;
  width: 730px;
  .pagination {
    text-align: center;
  }
}

// ------------------------------------
//  Typography
// ------------------------------------

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

// ------------------------------------
//  Header
// ------------------------------------

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  letter-spacing: -0.5px;
  padding-top: 9px;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

// ------------------------------------
//  Footer
// ------------------------------------

footer {
  margin-top: 45px;
  padding-top: 5px;
  padding-bottom: 70px;
  border-top: 1px solid $grayMediumLight;
  width: 730px;
  margin-left: auto;
  margin-right: auto;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: right;
  }
  ul {
    float: left;
    list-style: none;
    margin-left: 0px;
    li {
      float: left;
      margin-right: 10px;
    }
  }
}

.right-footer {
  float: right;
  a {
    margin: 0px 5px;
    &:last-of-type {
      margin-right: 0px;
    }
  }
}


// ------------------------------------
//  Forms
// ------------------------------------

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

#follow_form {
  text-align: center;
  padding-top: 30px;
}

#forgot-password {
  float: right;
  font-size: small;
}

#session_remember_me {
  margin-top: -4px;
}

#edit-gravatar {
  width: 100px;
  img { margin-bottom: 0px; }
  a { float: right; }
}

.edit_user {
  float: right;
}

.center-form {
  margin: auto;
}

#submit-squawk {
  float: right;
}

.center-form {
  float: none;
  margin: auto;
  width: 300px;
}


// ------------------------------------
//  Users Index
// ------------------------------------

.users {
  list-style: none;
  margin: 0;
  li {
    display: inline-block;
    width: 240px;
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
    img {
      display: block;
      &.gravatar {
      width: 70px;
      }
    }
    a {
      overflow: hidden;
    }
    a.delete-item {
      display: block;
      padding-top: 5px;
    }
  }
}

// ------------------------------------
//  Miscellany
// ------------------------------------

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

// ------------------------------------
//  Clearfix
// ------------------------------------

.group:after {
  content: "";
  clear: both;
  display: table;
}

// ------------------------------------
//  Squawks
// ------------------------------------

.gravatar {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 10px;
  }
}

.squawks {
  list-style: none !important;
  margin: 10px 0 0 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.squawk-gravatar {
  display: block;
  float: left;
  width: 40px;
}

.squawk-content {
  display: block;
  margin-left: 45px;
  .text {
    display: block;
  }
}

.timestamp {
  color: $grayLight;
  text-align: right;
  font-size: 12px;
}

.trashcan {
  margin-top: -3px;
}

.gravatar {
  float: left;
  margin-right: 10px;
}

// ------------------------------------
//  Sidebar
// ------------------------------------

aside {
 section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: center;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.sidebar-gravatar {
  margin: auto;
  max-width: 128px;
}
.sidebar-name {
  display: block;
  text-align: center;
}
.sidebar-admin {
  display: block;
  font-size: 16px;
  margin-top: 2px;
  letter-spacing: normal;
  font-weight: normal;
  color: $grayLight;
}
.sidebar-profile-link {
  text-align: center;
}
.sidebar-squawks {
  font-weight: bold;
  text-align: center;
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 8px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

// ------------------------------------
//  About Page
// ------------------------------------

.static-page-block {
  width: 500px;
  margin: auto;
  position: relative;
  h2 {
    font-size: 24px;
    color: inherit;
    margin: 30px auto 10px auto;
  }
  p {
    text-align: justify;
    margin: 10px auto;
    letter-spacing: 0px;
    line-height: 1.3em;
    font-size: 16px;
    a {
      color: #3f738d;
      &:hover {
        color: rgb(0, 136, 204);
        text-decoration: none;
      }
    }
  }
  #capslock {
    display: block;
    text-transform: uppercase;
    text-align: center;
    margin: 0px auto;
    padding: 0px 0px;
  }
  .squawker {
    font-variant: small-caps;
    font-weight: bold;
  }
  .keep-together {
    white-space: nowrap;
  }
}


// ------------------------------------
//  Follower Page
// ------------------------------------

#follower_avatars {
  padding: 20px 0px;
  img {
    width: 50px;
    margin: 1px;
  }
}

#follower_listing {
  li {
    width: 150px;
    border: none;
  }
}

// ------------------------------------
//  Hidden but retained elements
//     (for accesibility and testing)
// ------------------------------------

.offscreen {
  position: absolute;
  left: -999em;
}





.delete-item {
  width: 50px;
}