@import "bootstrap";
@import "mixins";

@import "global";
@import "typography";
@import "header-footer";
@import "forms";
@import "users_index";
@import "squawks";
@import "sidebar";
@import "about_page";
@import "follower_page";

// ------------------------------------
//  Miscellany
// ------------------------------------
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_size("border-box");
}

// ------------------------------------
//  Clearfix
// ------------------------------------
.group:after {
  content: "";
  clear: both;
  display: table;
}
.cf:before, .cf:after { content: " "; display: table; }
.cf:after { clear: both; }
.cf { zoom: 1; }

// ------------------------------------
//  Hidden but retained elements
//     (for accesibility and testing)
// ------------------------------------
.offscreen {
  position: absolute;
  left: -999em;
}

