%li
  %span.content
    = formatted squawk.content
  %span.timestamp
    = time_ago_in_words(squawk.created_at)
    ago.
  - if current_user?(squawk.user)
    = link_to trash_can_icon, squawk, |
      method: :delete, |
      title: "Delete", |
      class: "delete-item",
      data: { confirm: "Are you sure you want to delete?" }
