<li>
  <span class="content"><%= squawk.content %></span>
  <span class="timestamp">
    <%= time_ago_in_words(squawk.created_at) %> ago.
  </span>

  <% if current_user?(squawk.user) %>
    <%= link_to trash_can_icon, squawk, method: :delete #,
                          # data: { confirm: "Are you sure?" },
                          #title: squawk.content
                          %>
  <% end %>
</li>

<!-- TODO: Add some jQuery here -->