.squawk-gravatar
  = link_to(avatar_for(squawk.user, size: 73), squawk.user)
.squawk-content
  %span.user
    = link_to(squawk.user.name, squawk.user)
  %span.timestamp
    = time_ago_in_words(squawk.created_at)
    ago
  %span.text
    = formatted squawk.content
